absl-py
astunparse
blinker
cachetools
certifi
charset-normalizer
click
colorama
Flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib_metadata
itsdangerous
Jinja2
keras
Keras-Preprocessing
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
namex
numpy
oauthlib
opt_einsum
optree
packaging
protobuf
pyasn1_module
Pygments
requests
requests-oauthlib
rich
rsa
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
typing_extensions
urllib3
Werkzeug
wrapt
zipp
gunicorn